.video-map-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: visible!important;

  &.video-active {
    .mapboxgl-canvas {
      filter: blur(4px) brightness(0.7);
      transition: filter 0.4s ease;
    }
  }
}

.marker {
  position: relative;
  transform: translate(0, -50%);
}

.marker img {
  display: block;
  width: 40px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.marker img:hover {
  cursor: pointer;
  width: 50px;
}

.marker-preview {
  position:absolute;
  z-index: 10;
  background: white;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -180%);
}

.marker-preview img {
  width: 160px;
  height: auto;
}

.map-video-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: 10;
  background: #000;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 0.4s forwards;

  video {
    width: 100%;
    height: 100%;
    border: none;
  }

  .close-button {
    position: absolute;
    top: 4px;
    right: 12px;
    background: none;
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
  }
}

.delayed-fadeIn {
  animation: delayedFadeIn 1s ease forwards;
  animation-delay: 1.2s;
}

@keyframes delayedFadeIn {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: auto;
  }
}
